<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Explore Whimsy</h2>

<p>Welcome to the land of Whimsy, a world full of vibrant color and a very diverse and dynamic eco-system.</p>
<p>Here you can explore each of the currently accessible lands and find out a little more. The character you choose will remember where they are so you can pick up exploring whee you left off. See if you can find Waldo Wiley's Wagon of Wonders. Located somewhere across the lands of Whimsy.</p>
<p>In Whimsy players create a unique and fantastic character fashioned from a wide variety of local fauna, making each character as distinct as the player's own imagination. They choose weapons, skills, and professions to enhance their own unique play style.</p>
<p>Then they embark on an epic story to uncover the culprit behind a God's mysterious illness.</p>

<h3>Instructions</h3>
<ol>
  <li>Choose a character from the list above. A new page will load with information about each location and any connecting routes.</li>
  <li>Click a new route to explore.</li>
</ol>
<p>Remember to keep any eye out for Wiley Waldo's Wagon of Wonders.</p>

</div>

</body>
</html>
